/* reset */
$min-width: 20rem;
$max-width: 120rem;
$base-bg: #fff;
$link-color: #100da9;
$default-transition: all .2s linear;

/* fonts */
$bold: 'ProximaNovaBold', sans-serif;
$extraBold: 'ProximaNovaExtraBold', sans-serif;
$semiBold: 'ProximaNovaSemiBold', sans-serif;

// color
$text-hightlight: #000;
$text-description: #585858;
$text-color-active: #20aa97;

