@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold/proximanova-bold.eot');
    src: url('../fonts/ProximaNovaBold/proximanova-bold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaBold/proximanova-bold.woff') format('woff'),
    url('../fonts/ProximaNovaBold/proximanova-bold.ttf') format('truetype'),
    url('../fonts/ProximaNovaBold/proximanova-bold.svg#ProximaNova-Bold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaExtraBold';
    src: url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.eot');
    src: url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.woff') format('woff'),
    url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.ttf') format('truetype'),
    url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.svg#ProximaNova-ExtraBold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('../fonts/ProximaNovaSemiBold/proximanova-semibold.eot');
    src: url('../fonts/ProximaNovaSemiBold/proximanova-semibold.eot') format('embedded-opentype'),
    url('../fonts/ProximaNovaSemiBold/proximanova-semibold.woff') format('woff'),
    url('../fonts/ProximaNovaSemiBold/proximanova-semibold.ttf') format('truetype'),
    url('../fonts/ProximaNovaSemiBold/proximanova-semibold.svg#ProximaNova-SemiBold') format('svg');
}